<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ex possimus illum minus necessitatibus eveniet et in ipsa deserunt, quos doloribus cum temporibus voluptatibus similique amet beatae, deleniti quidem reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ab modi! Quod eligendi maxime esse harum rerum ut blanditiis beatae eveniet iste voluptates at, id dolorem, aperiam iusto quidem libero.</p>
</body>
</html>