{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test_simple</title>
</head>
<body>
    <h1>test_simple Header</h1>
    <p>test: {% hello %} </p>
    <p>test: {% plustwo 2 %} </p>
    <p>test: {% plustwo %} </p>
    <p>test: {% totalposts %} </p>
    <p>test: {% posts %} </p>

    <form action="{% url 'website:test' %}" method="post">
        {% csrf_token %}
        {% comment %} <label for="name">Name:</label>
        <input name="name" type="text"> {% endcomment %}
        {% comment %} <label for="subject">Subject:</label>
        <input name="subject" type="text">
        <label for="email">Email:</label>
        <input name="email" type="email">
        <label for="message">Message:</label>
        <input name="message" type="text"> {% endcomment %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% comment %} {% for post in posts%}
    <p>title: {{ post.title }}</p>
    <p>snippet: {{ post.content|snippetarg:10 }} </p>
    {% endfor %} {% endcomment %}

    {% comment %} {% popularposts 4 %} {% endcomment %}
</body>
</html>