{% load static %}
{% load blog_tags %}
{% load humanize %}
<div class="comments-area">
  {% comment %} <h4>05 Comments</h4> {% endcomment %}
  <h4>{{ comments.count }} Comment{% if comments.count > 1 %}s{% endif %}</h4>
  {% comment %} <h4>{{ comments|length }} Comment{% if comments.count > 1 %}s{% endif %}</h4> {% endcomment %}
  {% comment %} <h4>{% comments_count post.id %} Comment {% if comments_count post.id > 1 %}s{% endif %}</h4> {% endcomment %}
  {% comment %} {% if comments %} {% endcomment %}
    {% for comment in comments %}
      <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
          <div class="user justify-content-between d-flex">
            <div class="thumb">
              <img src="{% static 'img/blog/c1.jpg' %}" alt="" />
            </div>
            <div class="desc">
              <h5><a href="#">{{ comment.author }}</a></h5>
              <p class="date">{{ comment.created_at|naturalday }}</p>
              <h6>{{ comment.subject }}</h6>
              <p class="comment">{{ comment.message }}</p>
            </div>
          </div>
          <div class="reply-btn">
            <a href="" class="btn-reply text-uppercase">reply</a>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No Comments Yet!</p>
    {% endfor %}
  {% comment %} {% else %} {% endcomment %}
    {% comment %} <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/blog/c1.jpg' %}" alt="" />
          </div>
          <div class="desc">
            <h5><a href="#">Emilly Blunt</a></h5>
            <p class="date">December 4, 2017 at 3:12 pm</p>
            <p class="comment">Never say goodbye till the end comes!</p>
          </div>
        </div>
        <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
      </div>
    </div>
    <div class="comment-list left-padding">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/blog/c2.jpg' %}" alt="" />
          </div>
          <div class="desc">
            <h5><a href="#">Elsie Cunningham</a></h5>
            <p class="date">December 4, 2017 at 3:12 pm</p>
            <p class="comment">Never say goodbye till the end comes!</p>
          </div>
        </div>
        <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
      </div>
    </div>
    <div class="comment-list left-padding">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/blog/c3.jpg' %}" alt="" />
          </div>
          <div class="desc">
            <h5><a href="#">Annie Stephens</a></h5>
            <p class="date">December 4, 2017 at 3:12 pm</p>
            <p class="comment">Never say goodbye till the end comes!</p>
          </div>
        </div>
        <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
      </div>
    </div>
    <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/blog/c4.jpg' %}" alt="" />
          </div>
          <div class="desc">
            <h5><a href="#">Maria Luna</a></h5>
            <p class="date">December 4, 2017 at 3:12 pm</p>
            <p class="comment">Never say goodbye till the end comes!</p>
          </div>
        </div>
        <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
      </div>
    </div>
    <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <img src="{% static 'img/blog/c5.jpg' %}" alt="" />
          </div>
          <div class="desc">
            <h5><a href="#">Ina Hayes</a></h5>
            <p class="date">December 4, 2017 at 3:12 pm</p>
            <p class="comment">Never say goodbye till the end comes!</p>
          </div>
        </div>
        <div class="reply-btn">
          <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
      </div>
    </div> {% endcomment %}
  {% comment %} {% endif %} {% endcomment %}
</div>
