{% load static %}
{% load blog_tags %}
<div class="col-lg-4 sidebar-widgets">
  <div class="widget-wrap">
    <div class="single-sidebar-widget search-widget">
      <form class="search-form" action="{% url 'blog:blog_search' %}" method="get">
        <input placeholder="Search Posts" name="s" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    {% comment %} {% include 'widgets/author-widget.html' %} {% endcomment %}
    {% if post.author.id %}
      {% author post.author.id %}
    {% else %}
      {% activest_author %}
    {% endif %}
    {% comment %} {% include 'widgets/popular-post-widget.html' %} {% endcomment %}
    {% popularposts 3 %}
    <div class="single-sidebar-widget ads-widget">
      <a href="#"><img class="img-fluid" src="{% static 'img/blog/ads-banner.jpg' %}" alt="" /></a>
    </div>
    {% comment %} {% include 'widgets/post-category-widget.html' %} {% endcomment %}
    {% categories %}
    <div class="single-sidebar-widget newsletter-widget">
      <h4 class="newsletter-title">Newsletter</h4>
      <p>Here, I focus on a range of items and features that we use in life without giving them a second thought.</p>
      <div class="form-group d-flex flex-row">
        <div class="col-autos">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" />
          </div>
        </div>
        <a href="#" class="bbtns">Subcribe</a>
      </div>
      <p class="text-bottom">You can unsubscribe at any time</p>
    </div>
    {% comment %} {% include 'widgets/tag-cloud-widget.html' %} {% endcomment %}
    {% comment %} {% if tags %} {% endcomment %}
      {% tags post %}
    {% comment %} {% endif %} {% endcomment %}
  </div>
</div>
